.link::after {
  content: "";
  display: block;
  margin: auto;
  width: 0;
  height: 2px;
  background: transparent;
  transition: all 0.3s;
}

.link:hover::after {
  -webkit-text-stroke: 1px;
  width: 100%;
  background: hsl(var(--background));
}
