.car-transporters {
  background-color: #8fbbc3;
}

.boat {
  background-color: #adbfd2;
}

.special {
  background-color: #633e20;
  color: #fff;
}

.luggage {
  background-color: #3e4557;
  color: #fff;
}
