

.dropdown {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
/*
  @include themes.medium {
    top: 28px;
    right: -15px;
  }

  @include themes.small {
    top: 25px;
  }

  @include themes.superSmall {
    top: 23px;
  }

  &::after {
    transform: translateY(-4px);
  }

  &:hover::after {
    transform: translateY(-4px);
  }

  &:hover::before {
    transform: rotate(90deg) translateY(-22px);
  }
*/
}
